
<%= form_with url: update_form_path, method: :post do |f| %>
  <%= label_tag :theme, "Choose Theme" %>
  <%=
    select_tag :theme, options_for_select([
      [ "Green", :green ],
      [ "Red", :red ]
    ]),
    onchange: "this.form.requestSubmit()"
  %>
<% end %>
<br>
<br>
<div id="theme-form">
  <%= render partial: "forms/theme_form", locals: { theme: Theme.new("green") } %>
</div>
